.reviews .card{
    border: 0;
}
.reviews .card-header{
    border: 0;
    background-color: transparent;


}

.reviews .card:hover{
    background-image: linear-gradient(75deg, #0088ff, #005fb2);
    color: #fff !important;
    transition:  .1s  all ease-in-out !important;
}
.reviews .card:hover .card-body{
    background-image: url(../../../images/comma.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 60%;
}


.reviews .card:hover h6,
.reviews .card:hover p
{
    color: #fff !important;

}
.reviews .card:hover img{
    display: none;
}
